<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appsnipp.loginsamples">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_iconnaja_test_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity_sv_tool"></activity>
        <activity android:name=".Search2" />
        <activity android:name=".SearchLoc" />
        <activity android:name=".activity_sv" />
        <activity android:name=".Staff_layout" />
        <activity android:name=".activity_not_staff" />
        <activity android:name=".activity_createITH" />
        <activity android:name=".layout_staff" />
        <activity android:name=".activity_staff" />
        <activity android:name=".Search" />
        <activity android:name=".inputdata_CTM" />
        <activity
            android:name=".ScannerActivity"
            android:label="@string/SCAN"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".point_select" />
        <activity android:name=".MainActivity" />
        <activity android:name=".select_tool" />
        <activity android:name=".camera" />
        <activity android:name=".InputDataButton" />
        <activity android:name=".inputdata" />
        <activity android:name=".Product" />
        <activity android:name=".Sample_Product" />
        <activity android:name=".Sample" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>